.crear-tarea {
    display: flex;
    margin-bottom: 12px;
    justify-content: flex-end;
}

.tarea-terminada {
    color: #388e3c !important;
}

.tarea-pendiente{
    color:rgba(153, 171, 180, 0.5) !important
}

.editar {
    color: #0288d1 !important;
}
.eliminar {
    color:#d32f2f  !important
}
